<%- include('../../shared/ejs/header', {title: gettext.edit_product}) %>

<div class="container">
    <h3 class="text-center"><%= gettext.edit_product %></h3>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="product-id"><%= gettext.id %></label>
                <input type="text" disabled readonly name="product-id" id="product-id" placeholder="00" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="name"><%= gettext.product_name %></label>
                <input type="text" name="name" id="name" placeholder="" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="price"><%= gettext.price %></label>
                <input type="number" name="price" id="price" placeholder="" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="quantity"><%= gettext.quantity %></label>
                <input type="text" name="quantity" id="quantity" placeholder="quantity" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="unit"><%= gettext.unit %></label>
                <input type="text" name="unit" id="unit" placeholder="unit" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="barcode"><%= gettext.barcode %></label>
                <input type="text" name="barcode" id="barcode" placeholder="barcode" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <button class="btn btn-info" id="save"><%= gettext.save %></button>
            </div>
        </div>
    </div>
</div>



<script>
    const EventGetter = require("../../../services/EventGetter").EventGetter;
    const {ipcRenderer} = require('electron');


    // Get all product information and show on the form
    ipcRenderer.on(EventGetter.get("respond_request_product_info"), (event, productInfo) => {
        $("#product-id").val(productInfo.id);
        $("#name").val(productInfo.name);
        $("#price").val(productInfo.price);
        $("#unit").val(productInfo.unit);
        $("#barcode").val(productInfo.barcode);
        $("#quantity").val(productInfo.quantities);

    });
    ipcRenderer.send(EventGetter.get("request_product_info"));
    

    // Handle Save Button
    $("#save").click(() => {
        let data = {}
        data.id = $("#product-id").val();
        data.name = $("#name").val();
        data.price = $("#price").val();
        data.unit = $("#unit").val();
        data.barcode = $("#barcode").val();
        data.quantities = $("#quantity").val();
        ipcRenderer.send(EventGetter.get('update_product'), data);
    });

</script>


<%- include('../../shared/ejs/footer') %>
