<%- include('../../shared/ejs/header', {title: 'Order'}) %>


<div class="fluid-container" style="padding: 1rem;">
    <h3 id="store-name"></h3>
    <p id="store-address"></p>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="customer_name"><%= gettext.customer_name %></label>
                <input type="text" name="customer_name" id="customer_name" placeholder="" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="cashier_name"><%= gettext.cashier %></label>
                <input type="text" name="cashier_name" id="cashier_name" placeholder="" class="form-control">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="subtotal"><%= gettext.subtotal %></label>
                <input type="text" name="subtotal" id="subtotal" placeholder="" class="form-control">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="tax"><%= gettext.tax %></label>
                <input type="text" name="tax" id="tax" placeholder="" class="form-control">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="grandtotal"><%= gettext.grandtotal %></label>
                <input type="text" name="grandtotal" id="grandtotal" placeholder="" class="form-control">
            </div>
        </div>
    </div>
    
    <table id="product-table" class="display" width="100%"></table>

</div>



<script>

    // Load libraries
    const EventGetter = require("../../../services/EventGetter").EventGetter;
    const TextGetter = require("../../../services/TextGetter").TextGetter;
    const settings = require('electron-settings');
    var dt = require( 'datatables.net-dt' )( window, $ );
    require( 'datatables.net-responsive-dt' )( window, $ );
    const {ipcRenderer} = require('electron');

    let storeName = settings.get('store_info.name');
    let storeAddress = settings.get('store_info.address');

    $("#store-name").html(storeName);
    $("#store-address").html(storeAddress);


    // Display the order data then print it
    ipcRenderer.on(EventGetter.get("order_data"), (event, data) => {

        // Meta info
        $("#customer_name").val(data.customer_name);
        $("#cashier_name").val(data.employee_name);
        $("#subtotal").val(data.subtotal);
        $("#tax").val(data.tax);
        $("#grandtotal").val(data.total);


        // Draw product table
        dataTable = $('#product-table').DataTable({
            searching: false,
            data: data.sell_items,
            columns: [
                {
                    title: TextGetter.get("id"),
                    data: "row_id",
                    "visible": false,
                },
                { 
                    title: "PID",
                    data: "id"
                },
                { 
                    title: TextGetter.get("product_name"),
                    data: "name"
                },
                { 
                    title: TextGetter.get("price"),
                    data: "price"
                },
                { 
                    title: TextGetter.get("quantity"),
                    data: "quantities"
                },
                { 
                    title: TextGetter.get("unit"),
                    data: "unit"
                },
                { 
                    title: TextGetter.get("total"),
                    data: null,
                    render: function(data,type,row) { 
                        this.data = Number(row["price"]) * Number(row["quantities"]);
                        return (Number(row["price"]) * Number(row["quantities"]));
                    }
                }
            ],
            "order": [[ 0, "desc" ]],
            "responsive": false,
            "paging": false
        });

    });
    ipcRenderer.send(EventGetter.get("request_order_data"));


</script>


<%- include('../../shared/ejs/footer') %>