<%- include('../../shared/ejs/header', {title: gettext.add_import_bill}) %>
<link rel="stylesheet" type="text/css" href="../css/products.css">
<link rel="stylesheet" href="../../../../node_modules/datatables.net-dt/css/jquery.dataTables.min.css">

<div class="container">
    <h2 class="text-left" style="text-transform: uppercase; padding-top: 1rem; padding-bottom: 0.5rem">
        &gt;&gt; <%= gettext.view_import_bill %>
        <span id="status-completed" class="badge badge-success" style="display:none"><%= gettext.completed %></span>
        <span id="status-discarded" class="badge badge-warning" style="display:none"><%= gettext.discarded %></span>
    </h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="created_by"><%= gettext.created_by %></label>
                <input readonly disabled type="text" name="created_by" id="created_by" placeholder="" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="created_at"><%= gettext.created_at %></label>
                <input readonly disabled type="text" name="created_at" id="created_at" placeholder="" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="realtime" class="display" width="100%"></table>
        </div>
        <div class="col-md-12 pt-3">
            <button id="btn-close" class="btn btn-primary btn-lg" style="width: 100%; text-transform: uppercase"><%= gettext.close %></button>
        </div>
    </div>
</div>


<script>
    
    const app = {
        rows: [],
        selectedUser: null,
        start() {

            // Load libraries
            const EventGetter = require("../../../services/EventGetter").EventGetter;
            const TextGetter = require("../../../services/TextGetter").TextGetter;
            const {ipcRenderer} = require('electron');
            var dt = require( 'datatables.net-dt' )( window, $ );
            require( 'datatables.net-responsive-dt' )( window, $ );


            const BuyController = require("../../../controllers/BuyController.js").BuyController;
            let buyController = new BuyController();
            const settings = require('electron-settings');
            let headers = Object({'Content-Type': 'application/json'});
            headers['Authorization'] = "Bearer " + settings.get('account_info.token');

            var row_id = 0;
          
            // Create table 
            dataTable = $('#realtime').DataTable({
                columns: [
                    { data: "product_id", title: TextGetter.get("product_id"), visible: false  },
                    { data: "product_name", title: TextGetter.get("product_name") },
                    { data: "price", title: TextGetter.get("price") },
                    { data: "quantities", title: TextGetter.get("quantity") },
                    { data: "unit", title: TextGetter.get("unit") },
                    { data: "total", title: TextGetter.get("total"),
                        render: function(data,type,row) { 
                            this.data = Number(row["price"]) * Number(row["quantities"]);
                            return (Number(row["price"]) * Number(row["quantities"]));
                        }
                    },
                    { data: "supplier_name", title: TextGetter.get("supplier") },
                    { data: "supplier_id", title: TextGetter.get("supplier_id"), visible: false  }
                ],
                "order": [[ 0, "desc" ]],
                "responsive": true,
                "pageLength": 8,
                "lengthMenu": [[5, 8, 10, -1], [5, 8, 10, "All"]]
            });


            ipcRenderer.send(EventGetter.get("request_import_view_data"));
            ipcRenderer.on(EventGetter.get("respond_request_import_view_data"), (event, data) => {
                // console.log(data);
                $("#created_at").val(data.createdAt);
                $("#created_by").val(data.user_name);
                if (data.active == true) {
                    $("#status-completed").show();
                } else {
                    $("#status-discarded").show();
                }
                dataTable.rows.add(data.buy_items).draw();
            });

            // Handle close command
            $("#btn-close").click(() => {
                require('electron').remote.getCurrentWindow().close();
            });

        }
    };

    $(document).ready(() =>  {
        app.start();
    });
</script>

<style>
    input[type="search"] {
        border-bottom: 1px solid #999;
    }
</style>

<%- include('../../shared/ejs/footer') %>
