<%- include('../../shared/ejs/header', {title: gettext.import_products}) %>
<link rel="stylesheet" type="text/css" href="../css/products.css">
<link rel="stylesheet" href="../../../../node_modules/datatables.net-dt/css/jquery.dataTables.min.css">

<%- include('../../shared/ejs/secondary_menu.ejs') %>

<div class="container">
    <h2 class="text-left" style="text-transform: uppercase; padding-top: 1rem; padding-bottom: 0.5rem">
        &gt;&gt; <%= gettext.import_products %>
    </h2>
</div>

<div class="container">
    <%- include('../../shared/ejs/datepicker_optional.ejs') %>
    <div class="row">
        <div class="col-md-12">
            <div style="margin-bottom: 3rem;padding: 0;">
                <button class="btn btn-success float-right" id="add-import-bill"><%= gettext.add_import_bill %></button>
            </div>
            <table id="realtime" class="display" width="100%"></table>
        </div>
    </div>
</div>


<script>
    
    const app = {
        rows: [],
        selectedUser: null,
        start() {

            // Load libraries
            const EventGetter = require("../../../services/EventGetter").EventGetter;
            const TextGetter = require("../../../services/TextGetter").TextGetter;
            const {ipcRenderer} = require('electron');
            var dt = require( 'datatables.net-dt' )( window, $ );
            require( 'datatables.net-responsive-dt' )( window, $ );

            // Handle add product
            $("#add-import-bill").click(() => {
                ipcRenderer.send(EventGetter.get('request_add_import_bill'));
            });

            const BuyController = require("../../../controllers/BuyController.js").BuyController;
            let buyController = new BuyController();
            const settings = require('electron-settings');
            let headers = Object({'Content-Type': 'application/json'});
            headers['Authorization'] = "Bearer " + settings.get('account_info.token');
          
            // Create table 
            dataTable = $('#realtime').DataTable({
                "serverSide": true,
                "ajax": {
                    "url": buyController.getAjaxAPIUrl(),
                    "type": 'POST',
                    "headers": headers,
                    "processData": true,
                    "contentType": 'application/json',
                    "data": function ( d ) {

                        // Add the Date Filter info
                        if (isUsingDatePicker()) {
                            d.search.start = getStartDate();
                            d.search.end = getEndDate();
                        }

                        return JSON.stringify(d);
                    }
                },
                columns: [
                    { data: "createdAt", title: TextGetter.get("date") },
                    { data: "user_name", title: TextGetter.get("created_by") },
                    { data: "user_id", title: TextGetter.get("user_id") },
                    { data: "active", title: TextGetter.get("status"),
                        render: function ( data, type, row ) {
                            if (data == true) {
                                return `<span class="badge badge-success">`+TextGetter.get("completed")+`</span>`;
                            } else {
                                return `<span class="badge badge-warning">`+TextGetter.get("discarded")+`</span>`;
                            }
                        }
                    },
                    { data: "buy_items", title: TextGetter.get("number_of_products"),
                        render: function ( data, type, row ) {
                            return data.length;
                        }
                    },
                    { title: TextGetter.get("manipulation") }
                ],
                "order": [[ 0, "desc" ]],
                "columnDefs": [ {
                    "targets": -1,
                    "data": null,
                    "defaultContent": `
                        <button type="button" class="view btn btn-sm btn-primary">
                            `+TextGetter.get("view")+`
                        </button>
                        <button type="button" class="discard btn btn-sm btn-danger">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                            `+TextGetter.get("discard")+`
                        </button>
                    `
                } ],
                "responsive": true,
                "pageLength": 8,
                "lengthMenu": [[5, 8, 10, -1], [5, 8, 10, "All"]]
            });

            // ==== Handle events that cause table to update ====
            ipcRenderer.on(EventGetter.get("add_import_bill_success"), (event, data) => {
                dataTable.ajax.reload();
            });
            ipcRenderer.on(EventGetter.get("discard_import_bill_success"), (event, data) => {
                dataTable.ajax.reload();
            });
            // Reload when clicking Update in Date Filter
            $("#btn-date-filter-update").click(() => {
                dataTable.ajax.reload();
            });
            // Reload when changing the usage of date filter
            $("#use-date-filter").change(() => {
                dataTable.ajax.reload();
            });

            // ==== Handle row buttons ====
            // Discard
            $('#realtime tbody').on( 'click', 'button.discard', function () {
                let data = dataTable.row( $(this).parents('tr') ).data();
                ipcRenderer.send(EventGetter.get("request_discard_import_bill"), data);
            } );
            // View
            $('#realtime tbody').on( 'click', 'button.view', function () {
                let data = dataTable.row( $(this).parents('tr') ).data();
                ipcRenderer.send(EventGetter.get("request_view_import_bill"), data);
            } );
    

        }
    };

    $(document).ready(() =>  {
        app.start();
    });
</script>

<style>
    input[type="search"] {
        border-bottom: 1px solid #999;
    }
</style>

<%- include('../../shared/ejs/footer') %>
