<%- include('../../shared/ejs/header', {title: gettext.password_input}) %>
<link rel="stylesheet" type="text/css" href="../css/password_input.css">


<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 mt-3">
			<label><%= gettext.input_password %></label>
			<div class="input-group" id="show_hide_password">
				<input id="password" required type="password" class="form-control" aria-describedby="basic-addon2" placeholder="Password">
				<div class="input-group-append">
					<span class="input-group-text input-group-addon" id="basic-addon2">
						<a href="javascript:void"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
					</span>
				</div>
			</div>
			<div class="input-group mb-3">
				<input id="confirm_password" type="password" class="form-control" placeholder="Retype Password">
			</div>
			<div class="input-group">
				<button id="btn-submit" class="btn btn-success float-right"><%= gettext.ok %></button>
				<button id="btn-gen-pass" class="btn btn-warning float-right"><%= gettext.generate_secure_password %></button>
			</div>
		</div>
	</div>
</div>


<script>
	const TextGetter = require("../../../services/TextGetter").TextGetter;
	const EventGetter = require("../../../services/EventGetter").EventGetter;
	const {ipcRenderer} = require('electron');
	$(document).ready(function () {

		// Show / Hide password
		$("#show_hide_password a").on('click', function (event) {
			event.preventDefault();
			if ($('#show_hide_password input').attr("type") == "text") {
				$('#show_hide_password input').attr('type', 'password');
				$('#show_hide_password i').addClass("fa-eye-slash");
				$('#show_hide_password i').removeClass("fa-eye");
			} else if ($('#show_hide_password input').attr("type") == "password") {
				$('#show_hide_password input').attr('type', 'text');
				$('#show_hide_password i').removeClass("fa-eye-slash");
				$('#show_hide_password i').addClass("fa-eye");
			}
		});

		// Generate secure password
		$("#btn-gen-pass").click(() => {
			let password = Math.random().toString(36).slice(-10);
			$("#password").val(password);
			$("#confirm_password").val(password);
			$('#show_hide_password input').attr('type', 'text');
			$('#show_hide_password i').removeClass("fa-eye-slash");
			$('#show_hide_password i').addClass("fa-eye");
		});

		// Submit password
		$("#btn-submit").click(() => {
			let pw = $("#password").val();
			let pw2 = $("#confirm_password").val();
			if (pw != pw2) {
				alert(TextGetter.get("password_dont_match"));
			} else if (pw == "") {
				alert(TextGetter.get("please_enter_password"));
			} else {
				ipcRenderer.send(EventGetter.get("user_enter_password"), pw);
			}
		});


	});
</script>

<%- include('../../shared/ejs/footer') %>