<%- include('../../shared/ejs/header', {title: gettext.login}) %>
<link rel="stylesheet" type="text/css" href="../css/login.css">

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="../../shared/images/img-01.png" alt="IMG">
			</div>

			<form class="login100-form validate-form">
				<span class="login100-form-title">
					<%= gettext.program_name %> - <%= gettext.login %>
				</span>

				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input id="username" class="input100" type="text" name="username" placeholder="<%= gettext.username %>">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Password is required">
					<input id="password" class="input100" type="password" name="pass" placeholder="<%= gettext.password %>">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>

				<div class="text-center p-t-12">
					<span class="txt1">
						<%= gettext.need_support_contact_us %>
					</span>
				</div>
				
				<div class="container-login100-form-btn">
					<button id="login-btn" class="btn btn-lg btn-success" style="width: 100%;">
						<%= gettext.login %>
					</button>
				</div>

			</form>
		</div>
	</div>
</div>

<script>
	const EventGetter = require("../../../services/EventGetter").EventGetter;
	document.querySelector('#login-btn').addEventListener('click', function(e) {

		e.preventDefault();

		let username = document.getElementById("username").value;
		let password = document.getElementById("password").value;

		const {ipcRenderer} = require('electron');

		let data = {};
		data.username = username;
		data.password = password;

		ipcRenderer.send(EventGetter.get('login_command'), data);

	});

</script>
<%- include('../../shared/ejs/footer') %>
