<%- include('../../shared/ejs/header', {title: gettext.add_employee}) %>

<div class="container">
    <h3 class="text-center"></h3>
    <div class="row">
        <!-- <div class="col-sm-3">
            <div class="form-group">
                <label for="employee-id">ID</label>
                <input type="text" name="employee-id" id="employee-id" placeholder="00" class="form-control">
            </div>
        </div> -->
        <div class="col-sm-12">
            <div class="form-group">
                <label for="name"><%= gettext.name %></label>
                <input type="text" name="name" id="name" placeholder="Viet Anh Nguyen" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="username"><%= gettext.username %></label>
                <input type="text" name="username" id="username" placeholder="username" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="email"><%= gettext.email %></label>
                <input type="email" name="email" id="email" placeholder="vietanh@example.com" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="input-group mb-3">
                <label for="password"><%= gettext.password %>&nbsp;&nbsp;</label>
                <input readonly disabled id="password" type="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button id="btn-setpassword" class="btn btn-success" type="button">Set Password</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="address"><%= gettext.address %></label>
                <input type="text" name="address" id="address" placeholder="address" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="phone"><%= gettext.mobile %></label>
                <input type="text" name="phone" id="phone" placeholder="phone" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="salary"><%= gettext.salary %></label>
                <input type="number" name="salary" id="salary" placeholder="salary" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="position"><%= gettext.position %></label>
                <select name="position" id="position" class="form-control">
                <option value="">--<%= gettext.select_position %>--</option>
                <option value="ROLE_ADMIN"><%= gettext.admin %></option>
                <option value="ROLE_CASHIER"><%= gettext.cashier %></option>
                <option value="ROLE_MANAGER"><%= gettext.warehouse_manager %></option>
                <!-- <option value="ROLE_CASHIER_AND_ROLE_MANAGER"><%= gettext.cashier %> + <%= gettext.warehouse_manager %></option> -->
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-info" id="save">Save</button>
            </div>
        </div>
    </div>
</div>



<script>
    const EventGetter = require("../../../services/EventGetter").EventGetter;
    const {ipcRenderer} = require('electron');

    // Handle set password button
    $("#btn-setpassword").click(() => {
        ipcRenderer.send(EventGetter.get('prompt_password'));
    });
    ipcRenderer.on(EventGetter.get('set_password'), (event, data) => {
        $("#password").val(data.password);
    });

    // Handle Save Button
    $("#save").click(() => {
        let newUser = {}
        newUser.name = $("#name").val();
        newUser.username = $("#username").val();
        newUser.email = $("#email").val();
        newUser.address = $("#address").val();
        newUser.salary = $("#salary").val();
        newUser.mobileNo = $("#phone").val();
        newUser.password = $("#password").val();
        newUser.name = $("#name").val();
        newUser.roles = [];

        switch ($("#position").val()) {
            case "ROLE_ADMIN": newUser.roles.push("ROLE_ADMIN"); break;
            case "ROLE_CASHIER": newUser.roles.push("ROLE_CASHIER"); break;
            case "ROLE_MANAGER": newUser.roles.push("ROLE_MANAGER"); break;
            case "ROLE_CASHIER_AND_ROLE_MANAGER":
                newUser.roles.push("ROLE_MANAGER");
                newUser.roles.push("ROLE_MANAGER");
        }

        ipcRenderer.send(EventGetter.get('add_employee'), newUser);
    });


    ipcRenderer.on(EventGetter.get("add_employee_success"), () => {
        ipcRenderer.send(EventGetter.get("request_update_employee_list"));
    });
</script>


<%- include('../../shared/ejs/footer') %>
