<%- include('../../shared/ejs/header', {title: gettext.edit_employee}) %>

<div class="container">
    <h3 class="text-center"><%= gettext.edit_employee %></h3>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="employee-id"><%= gettext.ID %></label>
                <input type="text" disabled readonly name="employee-id" id="employee-id" placeholder="00" class="form-control">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                <label for="name"><%= gettext.name %></label>
                <input type="text" name="name" id="name" placeholder="Viet Anh Nguyen" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="username"><%= gettext.username %></label>
                <input  readonly disabled  type="text" name="username" id="username" placeholder="username" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="email"><%= gettext.email %></label>
                <input type="email" name="email" id="email" placeholder="vietanh@example.com" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="input-group mb-3">
                <label for="password"><%= gettext.password %>&nbsp;&nbsp;</label>
                <input readonly disabled id="password" type="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button id="btn-setpassword" class="btn btn-success" type="button">Set Password</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="address"><%= gettext.address %></label>
                <input type="text" name="address" id="address" placeholder="address" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="phone"><%= gettext.mobile %></label>
                <input type="text" name="phone" id="phone" placeholder="phone" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="salary"><%= gettext.salary %></label>
                <input type="number" name="salary" id="salary" placeholder="salary" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                    <label for="position"><%= gettext.position %></label>
                    <select name="position" id="position" class="form-control">
                    <option value="">--<%= gettext.select_position %>--</option>
                    <option value="ROLE_ADMIN"><%= gettext.admin %></option>
                    <option value="ROLE_CASHIER"><%= gettext.cashier %></option>
                    <option value="ROLE_MANAGER"><%= gettext.warehouse_manager %></option>
                    <!-- <option value="ROLE_CASHIER_AND_ROLE_MANAGER"><%= gettext.cashier %> + <%= gettext.warehouse_manager %></option> -->
                    </select>
            </div>
            <div class="form-group">
                <button class="btn btn-info" id="save"><%= gettext.save %></button>
            </div>
        </div>
    </div>
</div>



<script>
    const EventGetter = require("../../../services/EventGetter").EventGetter;
    const {ipcRenderer} = require('electron');


    // Get all user information and show on the form
    ipcRenderer.on(EventGetter.get("respond_request_user_info"), (event, userInfo) => {
        $("#employee-id").val(userInfo.id);
        $("#username").val(userInfo.username);
        $("#name").val(userInfo.name);
        $("#email").val(userInfo.email);
        $("#phone").val(userInfo.mobile);
        $("#address").val(userInfo.address);
        $("#salary").val(userInfo.salary);
        if (userInfo.roles.includes("ROLE_CASHIER") &&  userInfo.roles.includes("ROLE_MANAGER")) {
            $("#position").val("ROLE_CASHIER_AND_ROLE_MANAGER");
        } else if (userInfo.roles.includes("ROLE_CASHIER")) {
            $("#position").val("ROLE_CASHIER");
        } else if (userInfo.roles.includes("ROLE_MANAGER")) {
            $("#position").val("ROLE_MANAGER");
        } else if (userInfo.roles.includes("ROLE_ADMIN")) {
            $("#position").val("ROLE_ADMIN");
        } else {
            $("#position").val("");
        }
    });
    ipcRenderer.send("request_user_info");
    

    // Handle set password button
    $("#btn-setpassword").click(() => {
        ipcRenderer.send(EventGetter.get('prompt_password'));
    });
    ipcRenderer.on(EventGetter.get('set_password'), (event, data) => {
        $("#password").val(data.password);
    });

    // Handle Save Button
    $("#save").click(() => {
        let user = {}
        user.id = $("#employee-id").val();
        user.name = $("#name").val();
        // user.username = $("#username").val();
        user.salary = $("#salary").val();
        user.email = $("#email").val();
        user.address = $("#address").val();
        user.mobileNo = $("#phone").val();

        if ($("#password").val() != "") {
            user.password = $("#password").val();
        }
        
        user.name = $("#name").val();
        user.roles = [];

        switch ($("#position").val()) {
            case "ROLE_ADMIN": user.roles.push("ROLE_ADMIN"); break;
            case "ROLE_CASHIER": user.roles.push("ROLE_CASHIER"); break;
            case "ROLE_MANAGER": user.roles.push("ROLE_MANAGER"); break;
            case "ROLE_CASHIER_AND_ROLE_MANAGER":
                user.roles.push("ROLE_MANAGER");
                user.roles.push("ROLE_MANAGER");
        }

        ipcRenderer.send(EventGetter.get('update_employee'), user);
    });


    ipcRenderer.on(EventGetter.get("update_employee_success"), () => {
        ipcRenderer.send(EventGetter.get("request_update_employee_list"));
    });
</script>


<%- include('../../shared/ejs/footer') %>
