<%- include('../../shared/ejs/header', {title: 'Welcome'}) %>
<link rel="stylesheet" type="text/css" href="../css/welcome.css">

<div id="modal">
	<h1 class="site-title"><%= gettext.welcome_to %> <%= gettext.program_name %>!</h1>
	<p class="site-description"><%= gettext.these_are_main_functions_of_this_software %></p>
	<div id="welcome-menu" class="est-container">
		<div class="est-row">
			<div class="menu-item" id="menu-cashier-ui">
				<h2 class="item-title"><%= gettext.cashier_ui %></h2>
				<p class="item-description"><%= gettext.cashier_ui_description %></p>
			</div>
			<div class="menu-item" id="menu-bills">
				<h2 class="item-title"><%= gettext.bills %></h2>
				<p class="item-description"><%= gettext.bills_description %></p>
			</div>
			<div class="menu-item" id="menu-customers">
				<h2 class="item-title"><%= gettext.customers %></h2>
				<p class="item-description"><%= gettext.customers_menu_description %></p>
			</div>
			<div class="menu-item" id="menu-inventory">
				<h2 class="item-title"><%= gettext.inventory %></h2>
				<p class="item-description"><%= gettext.inventory_menu_description %></p>
			</div>
			<div class="menu-item" id="menu-suppliers">
				<h2 class="item-title"><%= gettext.suppliers %></h2>
				<p class="item-description"><%= gettext.suppliers_menu_description %></p>
			</div>
			<div class="menu-item" id="menu-import-products">
				<h2 class="item-title"><%= gettext.import_products %></h2>
				<p class="item-description"><%= gettext.import_products_menu_description %></p>
			</div>
			<div class="menu-item" id="menu-employees">
				<h2 class="item-title"><%= gettext.employees %></h2>
				<p class="item-description"><%= gettext.employees_menu_description %></p>
			</div>
			<div class="menu-item" id="menu-reports">
				<h2 class="item-title"><%= gettext.reports %></h2>
				<p class="item-description"><%= gettext.reports_menu_description %></p>
			</div>
			<div class="menu-item" id="menu-finance">
				<h2 class="item-title"><%= gettext.finance %></h2>
				<p class="item-description"><%= gettext.finance_menu_description %></p>
			</div>
			<div class="menu-item" id="menu-setting">
				<h2 class="item-title"><%= gettext.settings %></h2>
				<p class="item-description"><%= gettext.settings_menu_description %></p>
			</div>
			<div class="menu-item" id="menu-support">
				<h2 class="item-title"><%= gettext.contact_support %></h2>
				<p class="item-description"><%= gettext.contact_support_menu_description %></p>
			</div>
		</div>
	</div>
</div>


<script>

	$(document).ready(function() {
		$(".menu-item").click(function(event) {
			const {ipcRenderer} = require('electron');
			
			switch(this.id) {
				case "menu-cashier-ui": ipcRenderer.send('request_change_view', 'cashier'); break;
				case "menu-bills": ipcRenderer.send('request_change_view', 'sell_bills'); break;
				case "menu-customers": ipcRenderer.send('request_change_view', 'customers'); break;
				case "menu-inventory": ipcRenderer.send('request_change_view', 'products'); break;
				case "menu-suppliers": ipcRenderer.send('request_change_view', 'suppliers'); break;
				case "menu-import-products": ipcRenderer.send('request_change_view', 'import_products'); break;
				case "menu-employees": ipcRenderer.send('request_change_view', 'employees'); break;
				case "menu-reports": ipcRenderer.send('request_change_view', 'reports'); break;
				case "menu-finance": ipcRenderer.send('request_change_view', 'invoices'); break;
				case "menu-setting": ipcRenderer.send('request_change_view', 'preferences'); break;
				case "menu-support": ipcRenderer.send('request_change_view', 'about_us'); break;
			}

		});
	});

</script>
<%- include('../../shared/ejs/footer') %>
