<%- include('../../shared/ejs/header', {title: gettext.edit_customer}) %>

<div class="container">
    <h3 class="text-center"><%= gettext.edit_customer %></h3>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="customer-id"><%= gettext.id %></label>
                <input type="text" disabled readonly name="customer-id" id="customer-id" placeholder="00" class="form-control">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                <label for="name"><%= gettext.name %></label>
                <input type="text" name="name" id="name" placeholder="Viet Anh Nguyen" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="email"><%= gettext.email %></label>
                <input type="email" name="email" id="email" placeholder="vietanh@example.com" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="address"><%= gettext.address %></label>
                <input type="text" name="address" id="address" placeholder="address" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="phone"><%= gettext.mobile %></label>
                <input type="text" name="phone" id="phone" placeholder="phone" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <button class="btn btn-info" id="save"><%= gettext.save %></button>
            </div>
        </div>
    </div>
</div>



<script>
    const EventGetter = require("../../../services/EventGetter").EventGetter;
    const {ipcRenderer} = require('electron');


    // Get all customer information and show on the form
    ipcRenderer.on(EventGetter.get("respond_request_customer_info"), (event, customerInfo) => {
        $("#customer-id").val(customerInfo.id);
        $("#name").val(customerInfo.name);
        $("#email").val(customerInfo.email);
        $("#phone").val(customerInfo.mobileNo);
        $("#address").val(customerInfo.address);
    });
    ipcRenderer.send(EventGetter.get("request_customer_info"));
    

    // Handle Save Button
    $("#save").click(() => {
        let customer = {}
        customer.id = $("#customer-id").val();
        customer.name = $("#name").val();
        customer.email = $("#email").val();
        customer.address = $("#address").val();
        customer.mobileNo = $("#phone").val();
        ipcRenderer.send(EventGetter.get('update_customer'), customer);
    });


    ipcRenderer.on(EventGetter.get("update_customer_success"), () => {
        ipcRenderer.send(EventGetter.get("request_update_customer_list"));
    });
</script>



<%- include('../../shared/ejs/footer') %>
