<div id="secondary-menu" style="padding: 0.2rem; background: rgba(0,0,0,0.8)">
    <button type="button" vlink="welcome" class="btn btn-primary"><%= gettext.welcome_screen %></button>
    <button type="button" vlink="cashier" class="btn btn-secondary"><%= gettext.cashier %></button>
    <button type="button" vlink="sell_bills" class="btn btn-success"><%= gettext.bills %></button>
    <button type="button" vlink="customers" class="btn btn-danger"><%= gettext.customers %></button>
    <button type="button" vlink="products" class="btn btn-warning"><%= gettext.inventory %></button>
    <button type="button" vlink="suppliers" class="btn btn-info"><%= gettext.suppliers %></button>
    <button type="button" vlink="import_products" class="btn btn-light"><%= gettext.import_products %></button>
    <button type="button" vlink="invoices" class="btn btn-success"><%= gettext.finance %></button>
    <button type="button" vlink="employees" class="btn btn-primary"><%= gettext.employees %></button>
    <button type="button" vlink="reports" class="btn btn-dark"><%= gettext.reports %></button>
</div>

<script>
    $(document).ready(function() {
		$("#secondary-menu button").click(function(event) {
            const {ipcRenderer} = require('electron');
            ipcRenderer.send('request_change_view', $(this).attr("vlink"));
		});
	});
</script>